# Dependencies
node_modules
studio/node_modules

# Build outputs
.svelte-kit
build
.vercel

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*

# Test coverage
coverage

# Sanity
studio/dist
